@import '../../common_projects_utilities/css/font-awesome', 
'../../common_projects_utilities/css/reset', 
'../../common_projects_utilities/css/social-networks';

* {
    margin: 0;
}

/* Fonts */
$roboto: 'Roboto', sans-serif;

/* Colors >> CAAAAAAMBIAAAAAAR */
$body-color: #000;
$background-color: #fbf8f6;
$theme-color: #e34443;
$summary-color: #101931;

$c-main-black: #000;
$c-grey: #b2b1b1;

$c-total: #dec7c7;
$c-sanos: #dec7c7;
$c-enfermos: #e34443;
$c-inmunizados: #94BAD1;
$c-vacunados: #101931;

/* GENERAL */
body {
    font-family: $roboto;
    background-color: $background-color;
    color: $body-color;
}
a {text-decoration: none;}
strong {font-weight: 700;}

/* HELPERS */
.text-uppercase {text-transform: uppercase;}
.text-right {text-align: right;}
.text-center {text-align: center;}
.block {display: block;}
.bold {font-weight: 900; color: $c-main-black;}
.link {
    font-weight: 900;
    color: $theme-color;
}
img {
    max-width: 100%;
    height: auto;
}

/* LAYOUT */
.row {
    display: flex;
    &--full-height {height: 100%;}
    &--wrap {flex-wrap: wrap;}
    &--column {flex-direction: column;}
    &--between {justify-content: space-between;}
    &--center {justify-content: center;}
    &--end {justify-content: flex-end;}
    &--acenter {align-items: center;}
    &--aend {align-items: flex-end;}
}

/* CONTENEDOR PRINCIPAL */
.container {
    width: 100%;
    max-width: 972px;
    margin: 0 auto;

    position: relative;
}

.svg-image {
    width: 100%;
    height: auto;
}

///// HEADER /////
.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);

    overflow-x: hidden;

    //Topbar
    &__logo {
        position: absolute;
        top: 16px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100;
    }

    //Título y subtítulo
    &__main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 100;

        .header--title {
            max-width: 363px;
        }
        .header--subtitle {
            font-size: 22px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.01;
            letter-spacing: 6.6px;
            text-transform: uppercase;
            text-align: center;
            color: $body-color;

            //Otros
            margin-top: 60px;
            width: 100%;
            max-width: 564px;
        }
    }

    //Visualización (que actúa como background)
    &__chart {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100vh; /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 100);
    }

    //Flecha
    &__flecha {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        animation: scrollDown 1.2s infinite linear;
        z-index: 100;
        img {
            cursor: pointer;
        }
    }
}

///// ASIDE > SOCIAL NETWORKS /////
.share {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 100;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .6s, visibility .6s;
    &.visible {
        opacity: 1;
        visibility: visible;
    }
    &__icon {
    	margin: 5px 0;
        width: 32px;
        height: 32px;
        font-size: 16px;
        line-height: 32px;
        border-radius: 50%;
        background: #fff;
        color: #000;
        transition: color .4s;
        &:hover {color: $summary-color;}
    }
}

.top-logo {
	border-bottom: 1px solid #fff;
	margin: 0 0 10px;
	padding: 0 0 10px;
    img {display: block;}
}

///// SCROLLYTELLING (D3 + SCROLLAMA) /////
#scrolly {
    position: relative;
    width: 100%;

    display: flex;
    justify-content: flex-end;

    & > * {
        flex: 1;
    }

    .sticky-viz {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 58%;        

        &.active {
            position: fixed;
            top: 0px;
            left: 0px;

            transform: translateY(0px);
        }

        .covid-viz {
            box-sizing: border-box;
            width: 100%;
            max-width: 470px;

            position: relative;
            top: 50%;
            transform: translateY(-50%);

            //Flecha y texto inicial >> Posiciones absolutas
            .first-infected {
                position: absolute;
                left: calc(53%);

                background-color: $background-color;
                box-sizing: border-box;
                padding: 2px 4px;
                
                opacity: 1;
                transition: opacity .5s;
                &.hidden {
                    opacity: 0;
                }

                span {
                    font-size: 12px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 2.08;
                    letter-spacing: 0.24px;
                    color: $c-main-black;                    
                }
            }

            .covid-svg {
                width: 100%;
                height: 100%;
            }
        }

        .legend-viz {
            width: 100%;
            max-width: 470px;

            position: absolute;
            top: 17.5%;

            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            &__text {
                font-size: 12px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 2.08;
                letter-spacing: 0.12px;
                text-align: left;
                color: $c-main-black;

                position: relative;
                padding-left: 10px;

                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0px;
                    width: 6px;
                    height: 6px;
                    border-radius: 3px;
                }

                &.total:before {
                    background-color: $c-total;
                }
                &.sanos:before {
                    background-color: $c-sanos;
                }
                &.enfermos:before {
                    background-color: $c-enfermos;
                }
                &.inmunizados:before {
                    background-color: $c-inmunizados;
                }
                &.vacunados:before {
                    background-color: $c-vacunados;
                }

                
            }
        }
    }

    article {
        max-width: 100%;
        .step {
            display: flex;
            justify-content: flex-end;
            align-items: center;           

            .card {
                box-sizing: border-box;
                width: 100%;
                max-width: 390px;
                height: auto;
                padding: 40px 16px;
                
                color: $c-main-black; 
                opacity: 0.5;
                transition: opacity .25s;              

                &.hidden {
                    visibility: hidden;
                }

                //Elementos internos
                //Antetítulo
                &__pretitle {
                    font-size: 15px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.67;
                    letter-spacing: 3.75px;
                    text-transform: uppercase;
                    color: $c-main-black;
                    opacity: 0.5;
                }
                &__title {
                    width: auto;
                    height: auto;
                    margin-bottom: 60px;
                }
                &__text {
                    font-size: 18px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.67;
                    letter-spacing: normal;
                    text-align: left;
                    color: $c-main-black;
                }
            }
        }
    }    
}

//// SUMUP VISUALIZATIONS ///// 
.sumup-charts {
    margin: 80px 0 124px 0; //Prueba

    .sumup__big {
        width: 100%;
        height: auto;
        margin-bottom: 80px;

        &--title {
            font-size: 18px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1;
            letter-spacing: 4.5px;
            text-align: left;
            color: $c-main-black;

            margin-bottom: 16px;
        }
        &--subtitle {
            font-size: 16px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1;
            letter-spacing: 0.3px;
            text-align: left;
            color: $c-main-black;
            opacity: .5;

            margin-bottom: 40px;
        }

        &--viz {
            height: 170px;

            display: flex;
            justify-content: space-between;

            .big-viz__yaxis {
                box-sizing: border-box;
                padding-bottom: 32px;
                margin-right: 24px;

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                //Texto
                font-size: 15px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 2;
                letter-spacing: normal;
                text-align: right;
                color: $c-main-black;
            }

            .big-viz__group {
                width: 100%;
                
                &--rects {
                    box-sizing: border-box;
                    height: 140px;
                    padding: 13px 3px;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .rects {
                        position: relative;

                        .bottom-rect {
                            position: absolute;
                            top: 0px;
                            left: 0px;

                            width: calc(100% - 8px);
                            height: 5px;
                            background-color: #EEECEA;
                            border-radius: 3px;
                        }

                        .top-rect {
                            position: relative;
                            top: 0px;
                            left: 0px;

                            height: 5px;
                            border-radius: 3px;

                            width: 0%;

                            transition: width 2s;

                            &.visible {
                                &.sanos {
                                    width: 22%;
                                    background-color: $c-sanos;
                                }
                                &.enfermos {
                                    width: 1%;
                                    background-color: $c-enfermos;
                                }
                                &.inmunizados {
                                    width: 7%;
                                    background-color: $c-inmunizados;
                                }
                                &.vacunados {
                                    width: 70%;
                                    background-color: $c-vacunados;
                                }
                            }                            
                        }
                    }                    
                }
            }

            .big-viz__xaxis {
                //Disposición
                display: flex;
                justify-content: space-between;

                //Textos
                font-size: 15px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 2;
                letter-spacing: normal;
                text-align: left;
                color: $c-main-black;
                opacity: 0.4;

                span {
                    position: relative;
                }

                span:before {
                    content: '';
                    position: absolute;
                    top: -135px;
                    left: 50%;
                    transform: translateX(-50%);

                    width: .5px;
                    border-left: .25px dashed #000;
                    height: 130px;
                }
            }
        }
    }

    .sumup__small {
        display: flex;
        justify-content: space-between;

        .small-viz__yaxis {
            height: 190px;
            box-sizing: border-box;
            padding: 40px 0px 13px 0px;
            margin-right: 24px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            //Texto
            font-size: 16px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 2;
            letter-spacing: normal;
            text-align: right;
            color: $c-main-black;
        }

        .sumup__small-viz {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .small__chart {
                width: 23.5%;
                height: 100%;

                &--title {
                    font-size: 15px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 2.8;
                    letter-spacing: 3px;
                    text-align: left;
                    text-transform: uppercase;
                    color: $c-main-black;
                }
                
                &--rects {
                    box-sizing: border-box;
                    height: 140px;
                    padding: 13px 0px;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .rects {
                        position: relative;

                        .bottom-rect {
                            position: absolute;
                            top: 0px;
                            left: 0px;

                            width: 100%;
                            height: 5px;
                            background-color: $c-main-black;
                            opacity: 0.1;
                            border-radius: 3px;
                        }

                        .top-rect {
                            position: relative;
                            top: 0px;
                            left: 0px;

                            height: 5px;
                            border-radius: 3px;
                            width: 0%;

                            transition: width 2s;

                            &.visible {
                                &.sanos {
                                    background-color: $c-sanos;
                                    
                                    &.marzo { width: 95%; }
                                    &.abril { width: 80%; }
                                    &.diciembre { width: 75%; }
                                    &.junio { width: 39%; }
                                }
                                &.enfermos {
                                    background-color: $c-enfermos;
    
                                    &.marzo { width: 5%; }
                                    &.abril { width: 5%; }
                                    &.diciembre { width: 3%; }
                                    &.junio { width: 1%; }
                                }
                                &.inmunizados {
                                    background-color: $c-inmunizados;
    
                                    &.marzo { width: 0%; }
                                    &.abril { width: 15%; }
                                    &.diciembre { width: 20%; }
                                    &.junio { width: 10%; }
                                }
                                &.vacunados {
                                    background-color: $c-vacunados;
    
                                    &.marzo { width: 0%; }
                                    &.abril { width: 0%; }
                                    &.diciembre { width: 2%; }
                                    &.junio { width: 50%; }
                                }
                            }                            
                        }
                    }                    
                }

                &--xaxis {
                    //Disposición
                    display: flex;
                    justify-content: space-between;

                    //Textos
                    font-size: 15px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 2;
                    letter-spacing: normal;
                    text-align: left;
                    color: $c-main-black;
                    opacity: 0.4;
                }
            }
        }
    }

}
.only-small-mobile {display: none;}
.only-very-small-mobile {display: none;}

//// TEXTO + SUMARIOS ////
.credit {
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: left;
    color: $c-grey;

    .credit--title { color: #000; }
    span { display: block; }
}

.credits--mobile {display: none;}
.credits--desktop {
    position: absolute;
    top: 0px;
    left: 60px;
    height: 778px;
    padding-right: 38px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .credit {
        text-align: right;
        &:not(:nth-child(3)) {
            margin-bottom: 20px;
        }        
    }

    .rect {
        position: absolute;
        top: 0px;
        right: 0px;
        width: .5px;
        height: 0%;
        background-color: $c-main-black;

        transition: height 1.25s;
    }
}

.content {
    width: 100%;
    max-width: 472px;
    //padding-top: 140px;
    &:not(:last-of-type) {
        padding-top: 140px;
    }
    margin: 0 auto;    

    //Dentro del contenido encontramos: capital-letter, párrafos, sumarios y links (genérico)
    &__text {
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        text-align: left;
        color: $c-main-black;

        margin-bottom: 40px;

        &.without-margin {
            margin-bottom: 0px;
        }
    }
    &__summary {
        display: block;

        font-size: 22px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.91;
        letter-spacing: 6.6px;
        text-align: left;
        text-transform: uppercase;
        color: $summary-color;

        width: 100%;
        margin: 80px 0px;

        max-width: 278px;

        &.last {
            max-width: 355px;
        }

        //Animación
        opacity: 0;
        visibility: hidden;
        transition: opacity 1.5s, visibility 1.5s;

        &.is-visible {
            transform: translateX(0px);
            opacity: 1;
            visibility: visible;
        }
    }
}

.capital-letter {
    max-width: 76px;
    max-height: 322px;

    margin-bottom: 24px;
}

//// FOOTER ////
.footer {
	margin-top: 124px;
	&__logo {
		background: #212121;
		padding: 64px 0;
	}
}
.legalFooter {box-sizing:border-box;}

//// 
//// Media queries
////
@media only screen and (max-height: 700px) and (min-width: 470px) and (max-width: 993px) {
    #scrolly {
        .sticky-viz {
            .covid-viz {
                transform: translateY(-45%);
            }
            .legend-viz {
                top: 16%;
            }
        }
    }
}

@media only screen and (max-height: 800px) and (min-width: 470px) and (max-width: 993px) {
    #scrolly {
        .sticky-viz {
            .covid-viz {
                transform: translateY(-45%);
            }
            .legend-viz {
                top: 15%;
            }
        }
    }
}

@media only screen and (max-height: 900px) and (min-width: 993px) {
    #scrolly {
        .sticky-viz {
            .covid-viz {
                transform: translateY(-45%);
            }
            .legend-viz {
                top: 13%;
            }
        }
    }
}

@media only screen and (max-height: 700px) and (min-width: 993px) {
    #scrolly {
        .sticky-viz {
            .covid-viz {
                transform: translateY(-42.5%);
            }
            .legend-viz {
                top: 10%;
            }
        }
    }
}

@media only screen and (max-width: 993px) {
    .container {
        box-sizing: border-box;
        width: 100%;
        padding: 0px 16px;
    }

    //// ASIDE  > SOCIAL NETWORKS ////
    .share {
	    top: auto;
	    right: auto;
	    bottom: 0;
	    transform: none;
	    flex-direction: row;
	    width: 100%;
	    padding: 10px;
	    &__icon {margin: 0 10px;}
	}
	.top-logo {
	    border-bottom: transparent;
	    border-right: 1px solid #fff;
	    margin: 0 10px 0 0;
	    padding: 0 10px 0 0;
    }

    #scrolly {
        position: relative;
        display: block;

        .sticky-viz {
            position: absolute;
            left: 0px;
            width: 100%;
    
            &.active {
                position: fixed;
                width: calc(100% - 32px);
                height: 100vh;
                top: 0px;
                left: 50%;
                transform: translateX(-50%);                
            }

            .covid-viz {
                left: 50%;
                transform: translate(-50%, -46.5%);
            }

            .legend-viz {
                top: 12%;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    
        article {
            position: relative;
            max-width: 100%;
    
            .step {
                .card {
                    width: 100%;
                    margin: 50% auto;
                    background-color: $background-color;
                    border: 1px solid $c-main-black;

                    &__title {
                        margin-bottom: 32px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 972px) {
    //Bloque autores móvil
    .credits--desktop {display: none;}
    .credits--mobile {
        padding-top: 30px;
        display: flex;
        justify-content: space-evenly;        
    }    

    .content {
        &:not(:last-of-type) {
            padding-top: 80px;
        }
        &__text {margin-bottom: 32px;}
        &__summary {margin: 64px 0;}
    }

    .capital-letter {
        //Tamaños
        max-width: 60px;
        max-height: 244px;

        margin-bottom: 32px;

        //Posición
        position: relative;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media only screen and (max-width: 768px) {
    //Genéricos
    .hidden-small-mobile {display: none !important;}
    .only-small-mobile {display: block;}

    // CABECERA
    .header {
        height: calc(100vh - 24px); /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 100);

        &__chart {
            height: calc(100vh - 24px); /* Fallback for browsers that do not support Custom Properties */
            height: calc(var(--vh, 1vh) * 100);
        }

        &__main-content {
            margin: auto 24px;
            .header--subtitle {
                font-size: 20px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.86;
                letter-spacing: 4px;
            }
        }

        &__flecha {
            bottom: 60px;
        }
    }
    
    //VISUALIZACIONES RESUMEN    
    .sumup-charts {
        margin-bottom: 56px;
        .sumup__big {
            margin-bottom: 24px;
        }
        .sumup__small {
            .sumup__small-viz {
                flex-wrap: wrap;
                .small__chart {
                    width: 48%;
                    height: auto;
                    &--rects {
                        height: 80px;
                        padding: 6px 0px;
                    }
                }
            }
        }
    }    
}

@media only screen and (max-width: 525px) {
    .only-very-small-mobile {display: block;}
    .hidden-very-small-mobile {display: none;}

    .content {
        &__summary {
            &.last {
                max-width: 320px;
            }
        }
    }
}

@media only screen and (max-width: 470px) {
    #scrolly {
        .sticky-viz {
            .legend-viz {
                top: 15%;
            }
        }
    }
}

@media only screen and (max-width: 393px) {
    #scrolly {
        .sticky-viz {
            .legend-viz {
                top: 18%;
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    .sumup-charts {
        .sumup__small {
            .sumup__small-viz {
                .small__chart--title {
                    font-size: 14px;
                }
            }
        }
    }
}

@media only screen and (max-width: 330px) {
    .sticky-viz {
        .legend-viz {
            justify-content: space-between;
        }
    }
    .sumup-charts {
        .sumup__small {
            .sumup__small-viz {
                .small__chart--title {
                    font-size: 13.5px;
                }
            }
        }
    }
}


/* Animación para flecha */
@keyframes scrollDown {
    0%, 100% {
      opacity: 1;
      transform: translate(-50%,0);
    }
    45% {
      opacity: .65;
      transform: translate(-50%,13.5px);
    }
}